body {
  .chat-side {
    width: 300px;
    color: white;
    float: left;

    .side-header {
      background-color: #253141;
      height: 100px;
      display: flex;
      padding: 0 20px;
      align-items: center;

      &__box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        &__menu {
          display: flex;

          &__edit-user {
            margin-left: 0.3rem;
            a{
              color: white;
            }
          }
          &__new-group {
            margin-left: 0.3rem;
            a {
              color: white;
            }
          }
        }
      }
    }
    .groups {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      .group {
        a {
          color: white;
          text-decoration: none;

          &__group-name {
            font-size: 15px;
            margin: 20px 0 5px 0;
          }

          &__latest-message {
            font-size: 11px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  .chat-main {
    width: calc(100vw - 300px);
    float: left;
    .main-header {
      height: 100px;
      display: flex;
      padding: 0 40px;
      justify-content: space-between;
      border-bottom: solid 1px #eee;

      &__left-box {
        margin-top: 35px;
        &__current-group {
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
        }
        &__member-list {
          display: flex;
          font-size: 12px;
          color: #999999;
        }
      }
      &__edit-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px $link-color;
      }
      a {
        color: $link-color;
      }
    }
    .messages {
      height: calc(100vh - 190px);
      background-color: #fafafa;
      padding: 46px 40px;
      overflow: scroll;

      .message {
        padding-bottom: 40px;
        &__upper-info {
          display: flex;
          margin-bottom: 10px;
          &__talker {
            color: $main-text-color;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        &__text {
          color: $main-text-color;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
    .form {
      padding: 20px 40px;
      background-color: #ddd;

      .new_message {
        display: flex;
        .input-box {
          position: relative;
          width: 100%;

          &__text {
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: $main-text-color;
            border-style: none;
          }
          &__image {
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;

            &__file {
              display: none;
            }
          }
        }
        .submit-btn {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: $link-color;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

* {
    box-sizing: border-box;
}
