.chat-side {
    width: 300px;
    color: white;
    float: left;

    .side-header {
      background-color: #253141;
      height: 100px;
      display: flex;
      padding: 0 20px;
      align-items: center;

      &__box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        &__menu {
          display: flex;

          &__edit-user {
            margin-left: 0.3rem;
            a{
              color: white;
            }
          }
          &__new-group {
            margin-left: 0.3rem;
            a {
              color: white;
            }
          }
        }
      }
    }
    .groups {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      .group {
        a {
          color: white;
          text-decoration: none;

          &__group-name {
            font-size: 15px;
            margin: 20px 0 5px 0;
          }

          &__latest-message {
            font-size: 11px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
